body {
	margin: 0;
	padding: 0;
	color: #333;
	font-family: 'Lato', sans-serif;
	background-color: #96bd73;
	padding: 2%;
}

#wrapper {
	background-color: #ebf0e7;
	margin: 2%;
	padding: 2%;
}

h4 {
	font-size: 2em;
	clear: both;
}

ul li {
	list-style: none;
	display: inline-block;
	float: left;
	width: 40%;
	margin: 2.5%;
	padding: 2.5%;
	background-color: #c3cabd;
}